@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.lato-normal {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

/* Shared Styles */
.primary-title{
    color: rgba(39, 39, 39, 1);
    font-size: 80px;
    font-weight: 800;
}
.secondary-title{
    color: rgba(39, 39, 39, 1);
    font-size: 40px;
    font-weight: 800;
}
.primary-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
}
.text-center{
    text-align: center;
}
.btn-primary{
    width: 177px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #E55473;
}
.btn-primary:hover{
    color: #E55473;
    background-color: #FFFFFF;
    border: 1px solid #E55473;
}
.full-width{
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

/* Banner Styles */
header{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
}
.banner-content h1{
    margin-bottom: 30px;
}
.banner-content p{
    margin-bottom: 30px;
}

/* Main Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Featured Flower Styles */
.featured{
    margin-top: 180px;
}
.featured > h3{
    margin-bottom: 25px;
}
.featured p{
    width: 594px;
    height: 60px;
    margin: 0 auto;
}
.featured-flower-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.featured-flower-img .img1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.featured-flower-img .img2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content:center;
    align-items: center;
}
.featured-flower-img .img3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.flower-img a{
    display: inline-block;
    margin-top: 30px;
    color: rgba(39, 39, 39, 1);
    font-size: 25px;
    font-weight: 700;
}

/* Service Styles */
.service{
    margin-top: 130px;
    height: 320px;
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service .img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service .img p{
    font-size: 24px;
    font-weight: 600;
}

/* Hot Deal Styles */
.hot-deal{
    margin-top: 140px;
    background-color: rgba(229, 84, 115, 0.05);
    height: 620px;
    border-radius: 10px;
}
.hd{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 200px;
}
.hd-content h2{
    width: 537px;
    height: 48px;
    margin-bottom: 25px;
}
.hd-content h2 span{
    color: #E55473;
}
.hd-content p{
    margin-top: 0px;
    width: 594px;
    height: 60px;
    margin-bottom: 30px;
}

/* Instagram Styles */
.instagram{
    margin-top: 140px;
}
.instagram h2{
    margin-bottom: 25px;
}
.instagram p{
    width: 594px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.instagram .ig-img{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}